<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./common/head') %>
        <title>Sign In</title>
</head>

<body>
    <%- include('./common/navbar') %>
        <div class="container mt-4">
            <h3 class="mb-5">Login</h3>
            <form action="/user/signin" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>

        <%- include('./common/script') %>
</body>

</html>