<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./common/head') %>
        <title>Sign Up</title>
</head>

<body>
    <%- include('./common/navbar') %>
        <div class="container mt-4">
            <h3 class="mb-5">Sign Up</h3>
            <form action="/user/signup" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="profileImageURL" class="form-label">Profile Picture</label>
                    <input name="profileImageURL" type="file" class="form-control" id="profileImageURL"
                        aria-describedby="profileImageURL">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Full Name</label>
                    <input name="name" type="text" class="form-control" id="name" aria-describedby="name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="email"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>


        <%- include('./common/script') %>
</body>

</html>